---
import Layout from "../../layouts/Layout.astro";

export async function getStaticPaths() {
  const allCategories = new Set();
  const allPosts = (await Astro.glob("../blog/**/*.{md,mdx}"))
    .filter((post) => {
      allCategories.add(post.frontmatter.category.toLowerCase());
      return import.meta.env.MODE == "development" || !post.frontmatter.draft;
    })
    .sort((a, b) => new Date(b.frontmatter.date).valueOf() - new Date(a.frontmatter.date).valueOf());

  return Array.from(allCategories).map((category) => {
    const filteredPosts = allPosts.filter((post) => post.frontmatter.category.includes(category));
    return {
      params: { category },
      props: {
        filteredPosts: filteredPosts,
      },
    };
  });
}
const { filteredPosts } = Astro.props;
const { category } = Astro.params;
---

<Layout title={String(category)}>
  <div class="flex items-center my-6">
    <i class="fa-light fa-folder-open h-10 w-10"></i>
    <h2 class="ml-2 font-medium text-3xl">{category}</h2>
  </div>

  <div>
    {
      filteredPosts.map((post: any) => (
        <div class="flex justify-between">
          <a href={post.url} class="py-1 block hover:text-zinc-800 dark:hover:text-zinc-300">
            {post.frontmatter.title}
          </a>
          <time datetime={post.frontmatter.date} class="ml-1">
            {new Date(post.frontmatter.date).toLocaleDateString("en-us", {
              year: "numeric",
              month: "short",
              day: "numeric",
            })}
          </time>
        </div>
      ))
    }
  </div>
</Layout>
