---
import Layout from "../layouts/Layout.astro";
import talksData from "../../public/talks-data.json";
import ArticleCard from "../components/ArticleCard.astro";

const upcomingTalks = talksData.filter((talk) => talk.future);
const recentTalk = talksData.filter((talk) => !talk.future)[0];
upcomingTalks.push(recentTalk);

const posts = (await Astro.glob("./**/*.{md,mdx}"))
  .filter((post) => import.meta.env.MODE == "development" || !post.frontmatter.draft)
  .sort((a, b) => new Date(b.frontmatter.pubDate).valueOf() - new Date(a.frontmatter.pubDate).valueOf())
  .slice(0, 3);
---

<Layout title="Homepage">
  <p id="typeit" class="text-center mt-4 text-lg"></p>

  <!-- Recent posts -->
  <section class="py-6">
    <div class="flex items-center my-2">
      <i class="fa-thin fa-pencil h-8 w-8"></i>
      <h2 class="ml-2 font-medium text-3xl">Recent Posts</h2>
    </div>

    <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
      {posts.map((post) => <ArticleCard post={post} />)}
    </div>
  </section>

  <section class="py-6">
    <div class="flex items-center my-2">
      <i class="fa-light fa-presentation-screen h-8 w-8"></i>
      <h2 class="ml-2 font-medium text-3xl">Upcoming & Recent Talks</h2>
    </div>

    <div>
      {
        upcomingTalks.map((talk) => (
          <div class="flex flex-col md:flex-row">
            <img src={talk.image} alt="Talk Thumbnail" class="my-2" />
            <div class="p-4">
              <h3 class="text-2xl">{talk.title}</h3>
              <p class="pt-2">
                <time>{talk.date}</time> |
                <span>
                  <a href={talk.meetupUrl} target="_blank" rel="noreferrer" class="text-sky-500 hover:text-sky-400">
                    Meetpup Page
                  </a>{" "}
                  |
                </span>
                <span>
                  <a href={talk.downloadUrl} target="_blank" rel="noreferrer" class="text-sky-500 hover:text-sky-400">
                    Download
                  </a>
                </span>
              </p>
            </div>
          </div>
        ))
      }
    </div>
  </section>

  <script is:inline src="https://unpkg.com/typeit@8.7.0/dist/index.umd.js"></script>
  <script is:inline>
    new TypeIt("#typeit", {
      strings: "Hi! My name is Nir Galon, I'm a geek who always want to learn new things. I work as a software engineer and I love what I do!",
      lifeLike: true,
      cursor: true,
      cursorChar: "<span class='text-zinc-400 ml-1'>|</span>",
      waitUntilVisible: true,
    }).go();
  </script>
</Layout>
